@import "tailwindcss";

@theme inline {
  --color-primary: #6366f1;
  --color-primary-hover: #4f46e5;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
